---
---
// Colores
$primary: #b20921;
$secondary: #b20921aa;

$red: $primary;
$blue: #3e3ec0;

@import 'tablas';
@import 'nav';
@import 'secciones';

.container {
  padding-top: 2em
}

h2, h4 {
  padding: 0.5em 0;
}

h3 {
  padding-top: 1em;
}

#content {
  a {
    color: $primary;
  }
}

footer {
  text-align: center;
  font-size: 80%;
  opacity: 0.7;
  margin: 2em;

  img {
    margin-bottom: 1em;
  }

  a {
    color: $primary;
  }
}
