{% assign errores = site.data[page.data].errores %}

<div class="row">
  {% for error in errores.errores %}

  {% if errores.aclaraciones[forloop.index] %}
  <div class="aclaracion col-12">
    {{ errores.aclaraciones[forloop.index] | markdownify }}
  </div>
  {% endif %}

  <div class="deduccion col-4">
    <div class="nombre">
      {{ nombre | replace: "<->", "↔" | replace: "->", "→" | replace: ":existe:", "∃" | replace: ":todo:", "∀" }}
    </div>

    {% if ejercicio.conjunto %}
    {{ ejercicio.conjunto  | replace: "<->", "↔" | replace: "->", "→" | replace: ":existe:", "∃" | replace: ":todo:", "∀" }}
    {% else %}

    {% assign isError = true %}
    {% assign nombre = error.nombre %}
    {% assign premisas = error.premisas %}
    {% assign conclusiones = error.conclusiones %}

    {% include deduccion.html %}

    {% endif %}

  </div>
  {% endfor %}
</div>
