{% assign nombre = regla_general.nombre %}

{% assign isRegla = true %}
{% for regla in regla_general.reglas %}

{% if forloop.index == 1 %}
<div class="deduccion col-lg-4 col-md-6">
  <div class="nombre">
    {{ nombre | replace: "<->", "↔" | replace: "->", "→" | replace: ":existe:", "∃" | replace: ":todo:", "∀" }}
  </div>
  {% endif %}

  {% if regla.conjunto %}

  {{ regla.conjunto  | replace: "<->", "↔" | replace: "->", "→" | replace: ":existe:", "∃" | replace: ":todo:", "∀" }}

  {% else %}

  {% assign premisas = regla.premisas %}
  {% assign conclusiones = regla.conclusiones %}
  {% include deduccion.html %}

  {% endif %}

  {% if regla == regla_general.reglas.last  %}
</div>
{% else %}
<br>
{% endif %}
{% endfor %}
