.navbar {
  background-color: $primary;
  padding-top: 10em;

  .nav-brand {
    color: white;

    &:hover{
      color: white;
    }

    &:visited{
      color: white;
    }
  }

  #theNav {
    padding-left: 1em;

    .nav-link{
      color: rgba(255, 255, 255, 0.9);
    }

    .dropdown-menu .nav-item a {
      color: black;
    }

    // Cuando se hace click en un item del dropdown-menu
    .dropdown-item:active{
      background-color: $secondary;
    }

  }
}
