// Secciones de cada post

.deduccion {
  margin: 1em 0;

  .nombre {
    margin-bottom: 0.5em;
  }

  table {
    min-width: 10em;
  }

  .step {
    &.error {
      text-decoration: line-through;
      color: $red;
    }

    text-align: right;
    color: $blue;
  }
}

.numero {
  font-weight: bold;
}

.aclaracion {
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 2em;
}

.reglas, .ejemplos {
  justify-content: center;
  margin: 2em;

  .nombre {
    font-style: italic;
    margin-bottom: 10px;
  }
}

.r-reemplazo{
  margin-top: 2em;
}
