<html>

{% include html/head.html %}

<body>
  {% include html/nav.html %}

  <div class="container">
    <p class="lead">{{ page.subtitle }}</p>
    <h1>{{ page.title }}</h1>
    <hr>
    {{ content }}

    {% if site.data[page.data].errores %}

    <h3>Errores comunes</h3>
    <hr>
    {% include errores.html %}

    {% endif %}

    {% unless page.ejercicios == 'manual' %}
    <h3>Ejercicios de práctica</h3>
    <hr>
    {% include ejercicios.html %}
    {% endunless %}

  </div>

</body>

</html>
