<html>

<head>


  <meta name="viewport" content="width=device-width, initial-scale=1.0">


  <link rel="stylesheet" href="{{ site.baseurl }}/css/main.css">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>

<body>
  {% include nav.html %}
  
  <div class="container">
    <p class="lead">{{ page.subtitle }}</p>
    <h1>{{ page.title }}</h1>
    <hr>
    {{ content }}

    {% if site.data[page.data].errores %}

    <h3>Errores comunes</h3>
    <hr>
    {% include errores.html %}

    {% endif %}

    {% unless page.ejercicios == 'manual' %}
    <h3>Ejercicios de práctica</h3>
    <hr>
    {% include ejercicios.html %}
    {% endunless %}

  </div>

</body>

</html>
